Temp/
*.suo
*.suo.mate
*.csproj
*.csproj.meta
*.sln
*.sln.mate
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript.unityproj
obj/Debug/
/Library/
!*.dll
Buildings/
/Assets/WebPlayerTemplates/
/Assets/WebPlayerTemplates.meta
AssetBundles/
/Assets/StreamingAssets/
.vs/
_Publish/
Assets/_Developer
_Developer.meta 
/Assets/Art/FairyGUIProject/HuoWu3_2D_art/.objs/*
Assets/ThirdPlugins/VRTK.meta
Assets/ThirdPlugins/VRTK/Prefabs.meta
Assets/ThirdPlugins/VRTK/Prefabs/MiragePrefab.meta
Assets/Main/Prefabs.meta
Assets/Main/Prefabs/Resources.meta
Assets/Main/Prefabs/Resources/Sprites.meta